@charset "utf-8";

@import url(./common.css);
@import url(./reset.css);

/* 공통구역을 제외한 메인페이지 스타일 */

#section {
    width: 100%;
}

/* 높이 1080으로  w:는 100% */
#section .slide-outer {
    position: relative;
    height: 1080px; 
    overflow: hidden;
    width: 100%;
}

#section  .slide-inner > div:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/milkyway/bg_1.jpg) no-repeat 50% 60%; 
    background-size: cover;
    width: 100%;
    height: 1080px; 

}
#section  .slide-inner > div:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/milkyway/bg_2.jpg) no-repeat 50% 60%; 
    background-size: cover;
    width: 100%;
    height: 1080px; 
}

#section  .slide-inner > div:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/milkyway/bg_4.jpg) no-repeat 50% 60%  ; 
    background-size: cover;
    width: 100%;
    height: 1080px; 
}


#section .slide-inner .main-text {
    color: #fff;
    font-size: 60px;
    font-family: 'Nanum Pen Script', cursive;
    text-transform: uppercase;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 2s fadeIn,  1.2s 2s infinite twinkle;
    cursor: default;
}

#section .slide-outer .arr {
    font-size: 70px;
    color: #fff;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.5s;
}

#section .slide-outer .arr:hover {
    opacity: 1;
}

#section .slide-outer .next {
    right: 16%;
}

#section .slide-outer .prev {
    left: 16%;

}


#section .slide-outer .dot-box {
    position: absolute;
    bottom: 250px;
    left: 50%;
    transform: translateX(-50%);
}

#section .slide-outer .dot-box > a {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.5;
    margin: 0 6px;
}
#section .slide-outer .dot-box > a.active {
    opacity: 1;
}

#section .part1-wrap {
    padding: 100px 0;
}

#section .part1-wrap .board,
#section .part1-wrap .board-video {
    display: inline-block;
}

#section .part1-wrap .board {
    margin: 20px 20px 20px 0;
}

#section .part1-wrap .tabTit {
}

#section .part1-wrap .tabTit ul li {
    float: left;
    /* display: inline-block; */
    height: 49px;
}

#section .part1-wrap .tabTit ul li a {
    display: inline-block;
    width: 98px;
    padding: 14px 20px;
    background: #f7f7f7;
    border: 1px solid #eaeaea;
    color: #424242;

}

#section .part1-wrap .tabTit ul li a.on {
    width: 98px;
    padding: 14px 20px;
    background: #fff;
    border: 1px solid #eaeaea;
    border-top: 1px solid #000;
    border-bottom: none;
}

#section .part1-wrap .tabTit ul li:nth-child(2) a {
    border-left: none;
    
}

#section .part1-wrap .tabCont {
    border: 1px solid #eaeaea;
    color: #999;
    padding: 20px;
    width: 565px;
}

#section .part1-wrap .tabCont colgroup col:nth-child(1) {
    width:75%
}

#section .part1-wrap .tabCont colgroup col:nth-child(2) {
    width: auto;
}

#section .part1-wrap .tabCont table tr {
    display: inline-block;
    padding: 12px 0;
}
#section .part1-wrap .tabCont table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis 
}

#section .part1-wrap .tabCont table td:nth-child(2) {
    padding-left: 25px;
}


#section .part2-wrap {
    background: url(../images/milkyway/galaxy.jpg) no-repeat center bottom;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#section .part2-wrap .part2-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0.9;
    font-size: 40px;
    text-transform: capitalize;
    animation: 1s twinkle infinite;
    cursor: default;
    letter-spacing: 7px;
}
#section .part2-wrap button {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    background: none;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 10px;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: white;
}

#section .part2-wrap button:hover {
    opacity: 1;
    background: #fff;
    transition: all 0.3s;
    color: #000;
}

#section .part3 {
    padding: 150px 0;
    background-color: #f7f7f7;
    text-align: center;
}

#section .part3 .box-wrap {
    float: left;
}

#section .part3 .box-text-wrap {
    width: 380px;
    height: 380px;
    background-color: #fff;
}


#section .part3 .box-img {
    width: 380px;
    height: 380px;
    position: relative;
    overflow: hidden;
}

#section .part3 .box-wrap:nth-child(1) .box-img {
    background: url(../images/milkyway/star1.jpg) no-repeat 50% 50%;
}

#section .part3 .box-wrap:nth-child(2) .box-img {
    background: url(../images/milkyway/star2.jpg) no-repeat 0% 20%;
}

#section .part3 .box-wrap:nth-child(3) .box-img {
    background: url(../images/milkyway/star3.jpg) no-repeat 50% 80%;
}


#section .part3 .box-img img {
    transition: ease-in-out 0.8s ;
}

#section .part3 .box-img:hover img {
    transform: scale(1.1);
}

#section .part3 .box-img .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    text-shadow: 0 2px 5px #555, 0 0 5px #fff;
    text-transform: uppercase;
    z-index: 9;

}

#section .part3 .box-text-wrap {
    position: relative;
}

#section .part3 .box-text-wrap .box-text {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section .part3 .box-text-wrap h3 {
    color: #424242;
    margin-bottom: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #999;
    text-align: left;
    padding-bottom: 15px;
}
#section .part3 .box-text-wrap p {
    line-height: 24px;
    font-size: 14px;
    color: #6c6c6c;
}

#section .part4 {
    width: 100%;
    height: 280px;
    overflow: hidden;
    position: relative;
}

#section .part4 .vid:before {
    content: '';
    background: rgba(255, 255, 255,0.4);
    /* background를 그라데이션으로 주고싶어 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
} 

#section .part4 video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#section .part5 {
    text-align: center;
    padding: 130px 0;
    text-transform: capitalize;
}

#section .part5 > h3 {
    color: #555;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0px;
}
#section .part5 > p {
    font-size: 25px;
    color: #252525;
    margin-bottom: 50px;
    letter-spacing: 1px;
    
}

#section .part5 .part5-box {
    display: inline-block;
    width: 30%;
}

#section .part5 .part5-box i {
    font-size: 60px;
    color: #999;
    margin-bottom: 20px;
}


#section .part5 .part5-box span {
    display: block;
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
}
#section .part5 .part5-box p {
    color: #aaa;
    font-size: 14px;
}

/* part5 border timing function 삽입 예정 */
